#myChart {
    height: 327px;
    width: 480px;
    margin-left: 1000px;
    margin-top: -248px;
}
#myChart1 {
    height: 404px;
    width: 625px;
    margin-top: -338px;
    margin-left: -111px;
}
html,body {
    height: 100%;
    width: 100%;
}
#tscoretop{
  position: relative;
    margin-top: 94px;
    margin-left: 20px;
}
#tscorebot{
   position: relative;
}
#right{
    margin-top: -265px;
    margin-left: 1074px;
    margin-right: -56px;
}
h1{
    text-align: center;
}
h3{
    color: firebrick;
}
.tscore{
    margin-left: 20px;
    height:30px;
}
.score{
    height:30px;
}
#topper{
    margin-left: 1100px;
}
#c1{
    margin-bottom: 55px;
}
.w3-light-grey{
    width: 600px;
    margin-left: 400px;
}
#w3{
    transform: rotate(-90deg);
    margin-left: 232px;
    margin-top: -129px;
}

