<div class="control-group">
    <span style="padding-left:73em"><a ui-sref="base.login" class="btn btn-danger" ng-click = "Logout()">Logout</a></span>
</div>


<section>
    <nav1>
        <ol class="cd-multi-steps text-bottom count" id="status-buttons">
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
            <li class="current"><a href="#0" ui-sref-active="active" ui-sref="base1.chart">T-Score</a></li>
        </ol>
    </nav1>
</section>

<div id="headingmain" ng-app="FormlyApp"></div>
    <h1 id="heading_login">T-Score</h1>
    <div id="c1" class="tscore">
    <h3>My T-score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div id="golden-top">
    <div class="w3-container w3-center" style="height:20px;width:0" id="golden-top1"></div>
</div><br>

<div class="w3-light-grey">
    <div class="w3-container w3-center" style="height:20px;width:0" id="top"></div>
</div><br>

<div id="chartContainer1" style="height: 200px;"></div>

<div class="tscore">
    <h3>My T-Top score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div class="tscore" id="topper">
    <h3>My T-Stem score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div id="chartContainer" style="height: 300px;"></div>
<div id='myChart'></div>

<div id='myChart1'></div>
<div id="w3" class="w3-light-grey">
    <div class="w3-container w3-center" style="height:20px;width:0" id="bottom"></div>
</div><br>
<div>
    <form id="tscoretop" name="form1" method="post" action="" >
        <table>
            <thead><b>T-Top Scores</b></thead>
            <tr><td>Project Management</td><td><input type="text" name="num1" id="num1" /></td></tr>
            <tr><td>Organizational Design</td><td><input type="text" name="num2" id="num2" /></td></tr>
            <tr><td>Communications</td><td><input type="text" name="num1" id="num3" /></td></tr>
            <tr><td>Critical Thinking</td><td><input type="text" name="num2" id="num4" /></td></tr>
            <tr><td>Teamwork</td><td><input type="text" name="num1" id="num5" /></td></tr>
            <tr><td>Networking</td><td><input type="text" name="num2" id="num6" /></td></tr>
            <tr><td>Empathy</td><td><input type="text" name="num1" id="num7" /></td></tr>
            <tr><td>Perspective</td><td><input type="text" name="num2" id="num8" /></td></tr>
            <tr><td>Global Understanding</td><td><input type="text" name="num1" id="num9" /></td></tr>
            <tr><td><b>Total T-Top Score</b></td><td><input type="text" name="sum" id="sum" readonly /></td></tr>
        </table>
    </form>
</div>
<br>

<div id="right">
    <form id="tscorebot" name="form2" method="post" action="" >
        <table>
            <thead><b>T-Stem Scores</b></thead>
            <tr><td>Memberships, authorships and recognition</td><td><input type="text" name="num10" id="num10" /></td></tr>
            <tr><td>Education and degrees and certification</td><td><input type="text" name="num11" id="num11" /></td></tr>
            <tr><td>Operation responsibilities and Expertise</td><td><input type="text" name="num12" id="num12" /></td></tr>
            <tr><td>Software/ Device Proficiency</td><td><input type="text" name="num13" id="num13" /></td></tr>
            <tr><td>Methods/Skills Proficiency</td><td><input type="text" name="num14" id="num14" /></td></tr>
            <tr><td><b>Total T-Stem Score</b></td><td><input type="text" name="sum1" id="sum1" readonly /></td></tr>
        </table>
    </form>
</div>
</body>
</html>














