<head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="chartshelper.js"></script>
</head>

<div class="control-group">
    <span style="padding-left:73em"><a id="logout" href="#" class="btn btn-danger" ng-click = "Logout()">Logout</a></span>
</div>

<!-- <script src="https://cdn.zingchart.com/zingchart.min.js"></script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div"></div>
<body ng-controller="myController">
        <div id="high-container">Placeholder for chart</div>
    
      </body>
       
    



    


<!--ending  G charts-->

<section ng-init = "scoreRunner()">
    <nav1>
        <ol class="cd-multi-steps text-bottom count" id="status-buttons">
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
            <li class="current"><a href="#0" ui-sref-active="active" ui-sref="base1.chart">T-Score</a></li>
        </ol>
    </nav1>
</section>
<!-- Deleted this from line below: ng-init= "scoreRunner()"" -->
<div id="headingmain" ng-app="FormlyApp"></div>
    <h1 id="heading_login">Charts</h1>
    <div id="inside" class="container">

<!-- <div id="chartContainer1" style="height: 239px;width:200px"></div> -->
<!-- <h1>{{educationScore}}</h1>
<h1>{{membershipScore}}</h1>
<h1>{{methodsScore}}</h1>
<h1>{{operationalScore}}</h1>
<h1>{{proficiencyScore}}</h1> -->

<div class="tscore" id="lower">
    <h3>My T-Top score</h3>
    <input class="score" type="number" name="score" value={{fulltTop}}><br>
    <p>Delta: {{fulltTopDelta}}</p>
    <p>Previous Values: {{fulltTopPreString}}</p>
</div>
<div class="new_right">
		<div id ='chartDiv'  class="right"></div>
</div>


<div class="tscore" id="topper">
    <h3>My T-Stem score</h3>
    <input class="score" type="number" name="score" value={{fulltStem}}><br>
    <p>Delta: {{fulltStemDelta}}</p>
    <p>Previous Values: {{fulltStemPreString}}</p>
</div>
<div class="new_right">
		<div id ='chartDiv2'  class="right"></div>
</div>

<div class="tscore" id="topper">
        <h3>My T-Score</h3>
        <input class="score" type="number" name="score" value={{fulltScore}}><br>
        <p>Delta: {{fulltScoreDelta}}</p>
        <p>Previous Values: {{fulltScorePreString}}</p>
    </div>
    <div class="new_right">
            <div id ='chartDiv2'  class="right"></div>
    </div>

<!--Script for charts-->
<!-- <script>
    var chartData={
      "type":"bar", 
      "plot": {
      "background-color": "red blue",
        },
        "scale-x":{
        "labels":["Alice","Brett","Chris","Donna","Emily","Frank"]
      },
      "series":[  // Insert your series data here.
          { "values": [35, 42, 67, 89]}
      ]
    };
    zingchart.render({ // Render Method[3]
      id:'chartDiv',
      container: 'chartDiv',
      color : 'red',
      data:chartData,
      height:400,
      width:400,
    });
    ///////////////////////////////////////////////////
     var chartData={
      "type":"bar",  // Specify your chart type here.
      "plot": {
      "background-color": "blue red",
        },
      "series":[  // Insert your series data here.
          { "values": [35, 42, 67, 89]}
      ]
    };
    zingchart.render({ // Render Method[3]
      id:'chartDiv2',
      container: 'chartDiv',
      data:chartData,
      height:400,
      width:400,  
    });
</script> -->
<!-- <div id="chartContainer" style="height: 300px;width:149px"></div>
<div id='myChart'></div> -->

<div id='myChart1'></div>
<div id="w3" class="w3-light-grey">
    <div class="w3-container w3-center" style="height:20px;width:50px" id="bottom"></div>
</div><br>
<div >
    <form id="tscoretop" name="form1" method="post" action="" >
        <table>
            <thead><b>T-Top Scores</b></thead>
            <tr>
                <td>Project Management</td><td><input type="text" name="num1" id="num1" value= {{managementScore}}></td>
                <td>Delta: {{managementScoreDelta}} Previous: {{managementScorePrevious}}</td>
            </tr>
            <tr>
                <td>Organizational Design</td><td><input type="text" name="num2" id="num2" value= {{designScore}}></td>
                <td>Delta: {{designScoreDelta}} Previous: {{designScorePrevious}}</td>
            </tr>
            <tr>
                <td>Communications</td><td><input type="text" name="num1" id="num3" value= {{communicationScore}}></td>
                <td>Delta: {{communicationScoreDelta}} Previous: {{communicationScorePrevious}}</td>

            </tr>
            <tr>
                <td>Critical Thinking</td><td><input type="text" name="num2" id="num4"  value= {{criticalScore}}></td>
                <td>Delta: {{communicationScoreDelta}} Previous: {{communicationScorePrevious}}</td>

            </tr>
            <tr>
                <td>Teamwork</td><td><input type="text" name="num1" id="num5"  value= {{teamworkScore}}></td>
                <td>Delta: {{teamworkScoreDelta}} Previous: {{teamworkScorePrevious}}</td>

            </tr>
            <tr>
                <td>Networking</td><td><input type="text" name="num2" id="num6"  value= {{networkingScore}}></td>
                <td>Delta: {{teamworkScoreDelta}} Previous: {{teamworkScorePrevious}}</td>

            </tr>
            <tr>
                <td>Empathy</td><td><input type="text" name="num1" id="num7"  value= {{empathyScore}}></td>
                <td>Delta: {{empathyScoreDelta}} Previous: {{empathyScorePrevious}}</td>

            </tr>
            <tr>
                <td>Perspective</td><td><input type="text" name="num2" id="num8"  value= {{perspectiveScore}}></td>
                <td>Delta: {{perspectiveScoreDelta}} Previous: {{perspectiveScorePrevious}}</td>

            </tr>
            <tr>
                <td>Global Understanding</td><td><input type="text" name="num1" id="num9"  value= {{globalUnderstandScore}}></td>
                <td>Delta: {{globalUnderstandScoreDelta}} Previous: {{globalUnderstandScorePrevious}}</td>

            </tr>
            <tr>
                <td><b>Total T-Top Score</b></td><td><input type="text" name="sum" id="sum" readonly  value= {{fulltTop}}></td>
                <td>Delta: {{fulltTopDelta}} Previous: {{fulltTopPreString}}</td>

            </tr>
        </table>
    </form>
</div>
<br>

<div id="right">
    <form id="tscorebot" name="form2" method="post" action="" >
        <table>
            <thead><b>T-Stem Scores</b></thead>
            <tr>
                <td>Memberships, authorships and recognition</td><td><input type="text" name="num10" id="num10" value={{membershipScore}}></td>
                <td>Delta: {{membershipScoreDelta}} Previous: {{membershipScorePreString}}</td>

            </tr>
            <tr>
                <td>Education and degrees and certification</td><td><input type="text" name="num11" id="num11" value={{educationScore}}></td>
                <td>Delta: {{educationScoreDelta}} Previous: {{educationScorePreString}}</td>

            </tr>
            <tr>
                <td>Operation responsibilities and Expertise</td><td><input type="text" name="num12" id="num12" value={{operationalScore}}></td>
                <td>Delta: {{operationalScoreDelta}} Previous: {{operationalScorePreString}}</td>

            </tr>
            <tr>
                <td>Software/ Device Proficiency</td><td><input type="text" name="num13" id="num13" value={{proficiencyScore}}></td>
                <td>Delta: {{proficiencyScoreDelta}} Previous: {{proficiencyScorePreString}}</td>

            </tr>
            <tr>
                <td>Methods/Skills Proficiency</td><td><input type="text" name="num14" id="num14" value={{methodsScore}}></td>
                <td>Delta: {{methodsScoreDelta}} Previous: {{methodsScorePreString}}</td>

            </tr>
            <tr>
                <td><b>Total T-Stem Score</b></td><td><input type="text" name="sum1" id="sum1" readonly value={{fulltStem}}></td>
                <td>Delta: {{designScoreDelta}} Previous: {{fulltStemPreString}}</td>
            </tr>
        </table>
    </form>
</div>
    </div>
</body>
</html>














