<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>

    <script type="text/javascript">

        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer",
                {
                    title:{
                        text: ""
                    },
                    data: [
                        {
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 4 , label: "Memberships"}
                            ]
                        },  {
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 8 , label: "Education"},
                            ]
                        },{
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 10 , label: "Operation Responsibilities"},
                            ]
                        },{
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 1 , label: "Software/Device Proficiency"},
                            ]
                        },{
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 8 , label: "Methods/Skills"},
                            ]
                        },{
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 0 , label: "T-Depth"},
                            ]
                        }
                    ]
                });




            var chart1 = new CanvasJS.Chart("chartContainer1",
                {
                    title: {
                        text: ""

                    },
                    data: [
                        {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 6, label: "Project Management"},
                            ]
                        },
                        {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 8, label: "Organizational Design"},
                            ]
                        },
                        {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 8, label: "Communications"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 5, label: "Critical Thinking"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 7, label: "Teamwork"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 2, label: "Networking"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 2, label: "Empathy"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 6, label: "Perspective"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 8, label: "Global Understanding"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 0, label: "T-Breadth"},
                            ]
                        }

                    ]

                });


//            chart.render();
            //chart1.render();

        }
    </script>
    <script>
        $(document).ready(function() {
            //this calculates values automatically
            sum();
            sum1();
            $("#num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8, #num9").on("keydown keyup", function() {
                sum();
            });

            $("#num10, #num11, #num12, #num13, #num14").on("keydown keyup", function() {
                sum1();
            });
        });

        function updateProgressColor(color) {
            $("#top").removeClass("w3-green");
            $("#top").removeClass("w3-blue");
            $("#top").removeClass("w3-yellow");
            $("#top").removeClass("w3-brown");
            $("#top").removeClass("w3-aqua");
            $("#top").removeClass("w3-red");

            $("#top").addClass(color);
        }

        function sum() {
            var num1 = parseInt(document.getElementById('num1').value) | 0;
            var num2 = parseInt(document.getElementById('num2').value) | 0;
            var num3 = parseInt(document.getElementById('num3').value) | 0;
            var num4 = parseInt(document.getElementById('num4').value) | 0;
            var num5 = parseInt(document.getElementById('num5').value) | 0;
            var num6 = parseInt(document.getElementById('num6').value) | 0;
            var num7 = parseInt(document.getElementById('num7').value) | 0;
            var num8 = parseInt(document.getElementById('num8').value) | 0;
            var num9 = parseInt(document.getElementById('num9').value) | 0;

            var result = num1 + num2 +  num3 + num4 + num5 + num6 +  num7 + num8 + num9;
            var empty = 0;
            var chartWidth = 400;
            var maximum = 0;
            var percentComplete = 0;
            var dataPointWidth = 30;
            var radarMax = 100;
            var progressClass = "";
            var level = "";

            if (result <= 9) {
                empty = 9 - result;
                chartWidth += 0;
                maximum += 9;
                percentComplete = Math.round(result * 100.0 / 9);
                $("#chartContainer1").css("margin-left", "486px");
                dataPointWidth = 30;
                progressClass = "w3-green";
                level = " (level 1)";
            } else if (result <= 99) {
                empty = 99 - result;
                chartWidth += 200;
                maximum += 99;
                percentComplete = Math.round(result * 100.0 / 99);
                $("#chartContainer1").css("margin-left", "386px");
                dataPointWidth = 50;
                progressClass = "w3-blue";
                level = " (level 2)";
            } else if (result <= 999) {
                empty = 999 - result;
                chartWidth += 400;
                maximum += 999;
                percentComplete = Math.round(result * 100.0 / 999);
                $("#chartContainer1").css("margin-left", "286px");
                dataPointWidth = 100;
                progressClass = "w3-red";
                level = " (level 3)";
            } else if (result <= 9999) {
                empty = 9999 - result;
                chartWidth += 600;
                maximum += 9999;
                percentComplete = Math.round(result * 100.0 / 9999);
                $("#chartContainer1").css("margin-left", "186px");
                dataPointWidth = 150;
                progressClass = "w3-yellow";
                level = " (level 4)";
            } else if (result <= 99999) {
                empty = 99999 - result;
                chartWidth += 800;
                maximum += 99999;
                percentComplete = Math.round(result * 100.0 / 99999);
                $("#chartContainer1").css("margin-left", "86px");
                dataPointWidth = 200;
                progressClass = "w3-brown";
                level = " (level 5)";
            } else if (result <= 999999) {
                empty = 999999 - result;
                chartWidth += 1000;
                maximum += 999999;
                percentComplete = Math.round(result * 100.0 / 999999);
                $("#chartContainer1").css("margin-left", "2px");
                dataPointWidth = 250;
                progressClass = "w3-aqua";
                level = " (level 6)";
            }
            else {
                empty = 9999999 - result;
                chartWidth += 1000;
                maximum += 9999999;
                percentComplete = Math.round(result * 100.0 / 9999999);
                $("#chartContainer1").css("margin-left", "2px");
                dataPointWidth = 250;
            }

            var topVal = percentComplete.toString() + "%";
            var topValText = topVal + level;
            console.log(topVal);
            console.log(topValText);

            if (percentComplete > 0 & result <= 999999){
                $("#top").html(topValText).css("width", topVal);
                updateProgressColor(progressClass);

                $("#golden-top").removeClass("w3-light-grey");
                $("#golden-top1").html("").css("width", "0%").removeClass("w3-blue");
            } else if (percentComplete == 0){
                $("#top").html("0%").css("width", topVal);
                updateProgressColor("");

                $("#golden-top").removeClass("w3-light-grey");
                $("#golden-top1").html("").css("width", "0%").removeClass("w3-blue");
            } else {
                $("#top").html("level 6 completed").css("width", "100%").addClass("w3-yellow");
                var topVal1 = percentComplete.toString() + "%";
                $("#golden-top").addClass("w3-light-grey");
                $("#golden-top1").html(topVal1).css("width", topVal1).addClass("w3-blue");
            }



            var m = Math.max(num1,num2,num3,num4,num5,num6,num7,num8,num9);

            if (m >= 100) {
                radarMax = m;
            }


            if (!isNaN(result)) {
                document.getElementById('sum').value = result;
            }
            var chart1 = new CanvasJS.Chart("chartContainer1",
                {

                    height: 200,
                    dataPointWidth: dataPointWidth,
                    width: chartWidth,
                    title:{
                        text: ""
                    },
                    axisX:{
                        gridColor: "white",
                        labelFontColor: "white",
                        tickColor: "white",
                        lineThickness: 0
                    },
                    axisY:{
                        gridColor: "white",
                        labelFontColor: "white",
                        tickColor: "white",
                        lineThickness: 0
                    },
                    legend: {
                        fontSize:15,
                        horizontalAlign: "right",
                        verticalAlign: "center",

                    },
                    data: [
                        {
                            type: "stackedBar100",
                            legendText: "Project Management",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num1/result)*100), label: "Project Management(%)"},
                            ]
                        },
                        {
                            type: "stackedBar100",
                            legendText: "Organizational Design",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num2/result)*100), label: "Organizational Design(%)"},
                            ]
                        },
                        {
                            type: "stackedBar100",
                            legendText: "Communications",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num3/result)*100), label: "Communications(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Critical Thinking",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num4/result)*100), label: "Critical Thinking(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Teamwork",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num5/result)*100), label: "Teamwork(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Networking",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num6/result)*100), label: "Networking(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Empathy",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num7/result)*100), label: "Empathy(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Perspective",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num8/result)*100), label: "Perspective(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            legendText: "Global Understanding",
                            showInLegend: "true",
                            dataPoints: [
                                {y: Math.round((num9/result)*100), label: "Global Understanding(%)"},
                            ]
                        }, {
                            type: "stackedBar100",
                            dataPoints: [
                                {y: 0, label: "T-Breadth"},
                            ]
                        }

                    ]

                });
            chart1.render();

            var myConfig1 = {
                "type": "radar",
                title:{
                    text: "My T-Top Raw Scores"
                },
                "scale-v":{
                    "values": "0:"+ radarMax.toString()+ ":25"
                },
                "scale-k": {
                    "values": "0:8:1",
                    "labels": ["Project management", "Organizational design", "Communications ", "Critical thinking", "Teamwork", "Networking", "Empathy","Perspective", "Global understanding"],
                    "ref-line": {
                        "line-color": "none"
                    },
                    "guide": {
                        "line-style": "solid"
                    },
                    "item": {
                        "font-color": "000"
                    },
                },
                "series": [{
                    "values": [num1, num2, num3, num4, num5, num6, num7, num8, num9]
                }]
            };

            zingchart.render({
                id: 'myChart1',
                data: myConfig1,
                height: '100%',
                width: '100%'
            });


        }

        function sum1() {
            var num10 = parseInt(document.getElementById('num10').value) | 0;
            var num11 = parseInt(document.getElementById('num11').value) | 0;
            var num12 = parseInt(document.getElementById('num12').value) | 0;
            var num13 = parseInt(document.getElementById('num13').value) | 0;
            var num14 = parseInt(document.getElementById('num14').value) | 0;
            var result1 = num10 + num11 +  num12 + num13 + num14;

            var empty = 0;
            var chartHeight = 400;
            var maximum = 0;
            var percentComplete = 0;
            var radarMaxx = 100;
            var dataPointWidth = 30;

            if (result1 <= 9) {
                empty = 9 - result1;
                chartHeight += 0;
                maximum += 9;
                percentComplete = Math.round(result1 * 100.0 / 9);
                dataPointWidth = 30;
            } else if (result1 <= 99) {
                empty = 99 - result1;
                chartHeight += 100;
                maximum += 99;
                percentComplete = Math.round(result1 * 100.0 / 99);
                dataPointWidth = 50;
            } else if (result1 <= 999) {
                empty = 999 - result1;
                chartHeight += 300;
                maximum += 999;
                percentComplete = Math.round(result1 * 100.0 / 999);
                dataPointWidth = 100;
            } else if (result1 <= 9999) {
                empty = 9999 - result1;
                chartHeight += 500;
                maximum += 9999;
                percentComplete = Math.round(result1 * 100.0 / 9999);
                dataPointWidth = 150;
            } else if (result1 <= 99999) {
                empty = 99999 - result1;
                chartHeight += 700;
                maximum += 99999;
                percentComplete = Math.round(result1 * 100.0 / 99999);
                dataPointWidth = 200;
            }else if (result1 <= 999999) {
                empty = 999999 - result1;
                chartWidth += 900;
                maximum += 999999;
                percentComplete = Math.round(result1 * 100.0 / 999999);
                dataPointWidth = 250;
            }
            else {

            }
//            if (maximum >= 100) {
//                radarMaxx = maximum;
//            }
            var m1 = Math.max(num10,num11,num12,num13,num14);
            if (!isNaN(result1)) {
                document.getElementById('sum1').value = result1;
            }
            if (m1 >= 100) {
                radarMaxx = m1;
            }


            var chart = new CanvasJS.Chart("chartContainer",
                {
                    height: chartHeight,
                    width: 1000,
                    dataPointWidth: dataPointWidth,
                    title:{
                        text: ""
                    },
                    legend: {
                        horizontalAlign: "right",
                        verticalAlign: "center",
                        fontSize: 15,
                        itemMaxWidth: 180,
                    },
                    axisX:{
                        gridColor: "white",
                        labelFontColor: "white",
                        tickColor: "white",
                        lineThickness: 0
                    },
                    axisY:{
                        margin: 400,
                        reversed: true,
                        gridColor: "white",
                        labelFontColor: "white",
                        tickColor: "white",
                        lineThickness: 0
                    },
                    data: [
                        {
                            type: "stackedColumn100",
                            legendText: "Memberships",
                            showInLegend: "true",
                            dataPoints: [
                                {  y: Math.round((num10/result1)*100) , label: "Memberships(%)"}
                            ]
                        },  {
                            type: "stackedColumn100",
                            legendText: "Education",
                            showInLegend: "true",
                            dataPoints: [
                                {  y: Math.round((num11/result1)*100) , label: "Education(%)"},
                            ]
                        },{
                            type: "stackedColumn100",
                            legendText: "Operation Responsibilities",
                            showInLegend: "true",
                            dataPoints: [
                                {  y: Math.round((num12/result1)*100) , label: "Operation Responsibilities(%)"},
                            ]
                        },{
                            type: "stackedColumn100",
                            legendText: "Software/Device Proficiency",
                            showInLegend: "true",
                            dataPoints: [
                                {  y: Math.round((num13/result1)*100) , label: "Software/Device Proficiency(%)"},
                            ]
                        },{
                            type: "stackedColumn100",
                            legendText: "Methods/Skills",
                            showInLegend: "true",
                            dataPoints: [
                                {  y: Math.round((num14/result1)*100) , label: "Methods/Skills(%)"},
                            ]
                        },{
                            type: "stackedColumn100",
                            dataPoints: [
                                {  y: 0 , label: "T-Depth"},
                            ]
                        }
                    ]
                });

            chart.render();

            var myConfig = {
                "type": "radar",
                title:{
                    text: "My T-Stem Raw Scores",
                    "font-color": "000"
                },
                "scale-v":{
                    "values":"0:"+ radarMaxx.toString()+":50"
                },
                "scale-k": {
                    "values": "0:100:25",
                    "labels": ["Memberships,Authorships and Recognitions", "Education", "Operation Responsibilities ", "Software/Device", "Methods/Skills"],
                    "ref-line": {
                        "line-color": "none"
                    },
                    "item": {
                        "font-color": "000"
                    },
                    "guide": {
                        "line-style": "solid"
                    }
                },
                "series": [{
                    "values": [num10, num11, num12, num13, num14]
                }]
            };

            zingchart.render({
                id: 'myChart',
                data: myConfig,
                height: '100%',
                width: '100%'
            });

        }


    </script>
</head>
<body>
<h1>My T-Me Dashboard</h1>

<div id="c1" class="tscore">
    <h3>My T-score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div id="golden-top">
    <div class="w3-container w3-center" style="height:20px;width:0" id="golden-top1"></div>
</div><br>

<div class="w3-light-grey">
    <div class="w3-container w3-center" style="height:20px;width:0" id="top"></div>
</div><br>

<div id="chartContainer1" style="height: 200px;"></div>

<div class="tscore">
    <h3>My T-Top score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div class="tscore" id="topper">
    <h3>My T-Stem score</h3>
    <input class="score" type="number" name="score"><br>
</div>
<div id="chartContainer" style="height: 300px;"></div>
<div id='myChart'></div>

<div id='myChart1'></div>
<div id="w3" class="w3-light-grey">
    <div class="w3-container w3-center" style="height:20px;width:0" id="bottom"></div>
</div><br>
<div>
    <form id="tscoretop" name="form1" method="post" action="" >
        <table>
            <thead><b>T-Top Scores</b></thead>
            <tr><td>Project Management</td><td><input type="text" name="num1" id="num1" /></td></tr>
            <tr><td>Organizational Design</td><td><input type="text" name="num2" id="num2" /></td></tr>
            <tr><td>Communications</td><td><input type="text" name="num1" id="num3" /></td></tr>
            <tr><td>Critical Thinking</td><td><input type="text" name="num2" id="num4" /></td></tr>
            <tr><td>Teamwork</td><td><input type="text" name="num1" id="num5" /></td></tr>
            <tr><td>Networking</td><td><input type="text" name="num2" id="num6" /></td></tr>
            <tr><td>Empathy</td><td><input type="text" name="num1" id="num7" /></td></tr>
            <tr><td>Perspective</td><td><input type="text" name="num2" id="num8" /></td></tr>
            <tr><td>Global Understanding</td><td><input type="text" name="num1" id="num9" /></td></tr>
            <tr><td><b>Total T-Top Score</b></td><td><input type="text" name="sum" id="sum" readonly /></td></tr>
        </table>
    </form>
</div>
<br>

<div id="right">
    <form id="tscorebot" name="form2" method="post" action="" >
        <table>
            <thead><b>T-Stem Scores</b></thead>
            <tr><td>Memberships, authorships and recognition</td><td><input type="text" name="num10" id="num10" /></td></tr>
            <tr><td>Education and degrees and certification</td><td><input type="text" name="num11" id="num11" /></td></tr>
            <tr><td>Operation responsibilities and Expertise</td><td><input type="text" name="num12" id="num12" /></td></tr>
            <tr><td>Software/ Device Proficiency</td><td><input type="text" name="num13" id="num13" /></td></tr>
            <tr><td>Methods/Skills Proficiency</td><td><input type="text" name="num14" id="num14" /></td></tr>
            <tr><td><b>Total T-Stem Score</b></td><td><input type="text" name="sum1" id="sum1" readonly /></td></tr>
        </table>
    </form>
</div>
</body>
</html>














