<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="chartshelper.js"></script>
</head>
<div class="control-group">
<span style="padding-left:73em"><a id="logout" href="#" class="btn btn-danger" ng-click = "Logout()">Logout</a></span>
</div>

<body ng-controller="myController">
    <div class="container" ng-init="scoreRunner()" ng-init="dataTables()">
        <div class="row">
            <!-- <div class=" col-md-12 control-group">
                <span style="padding-left:73em"><a id="logout" href="#" class="btn btn-danger" ng-click = "Logout()">Logout</a></span>
            </div> -->
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div class="row">
            <nav1 class="col-md-10 col-centered">
                <ol class="cd-multi-steps text-bottom count" id="status-buttons">
                    <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
                    <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
                    <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
                    <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
                    <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
                    <li class="current"><a href="#0" ui-sref-active="active" ui-sref="base.chart">T-Score</a></li>
                    <h1>My T Score</h1>
                </ol>
            </nav1>
        </div>
        <!-- Deleted this from line below: ng-init= "scoreRunner()"" -->
        <!-- What does the below line even do? -->
        <div id="headingmain" ng-app="FormlyApp"></div>
        <section class="mainContent">
            <div class="row">
                <div class="col-md-12">
                    <svg class="tChart" width="600px" height="600px" aria-labelledby="title desc" role="img" style="padding-top: 20px; padding-bottom: 20px;">
                        <title id="title">My T Chart</title>
                        <desc id="desc">A T chart showing your breadth and depth skills</desc>
                        <g class="bar">
                            <rect width="600" height="60" x="0" y="0"></rect>
                        </g>
                        <g class="bar">
                            <rect width="60" height="540" x="270" y="60"></rect>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 style="text-align: center;">Stem Components</h2>
                    <table id="tStem" class="display col-centered">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Project Management</td>
                                <td>{{roundMe(managementScore)}}</td>
                            </tr>
                            <tr>
                                <td>Organizational Design</td>
                                <td>{{roundMe(designScore)}}</td>
                            </tr>
                            <tr>
                                <td>Communications</td>
                                <td>{{roundMe(communicationScore)}}</td>
                            </tr>
                            <tr>
                                <td>Critical Thinking</td>
                                <td>{{roundMe(criticalScore)}}</td>
                            </tr>
                            <tr>
                                <td>Teamwork</td>
                                <td>{{roundMe(teamworkScore)}}</td>
                            </tr>
                            <tr>
                                <td>Networking</td>
                                <td>{{roundMe(networkingScore)}}</td>
                            </tr>
                            <tr>
                                <td>Empathy</td>
                                <td>{{roundMe(empathyScore)}}</td>
                            </tr>
                            <tr>
                                <td>Perspective</td>
                                <td>{{roundMe(perspectiveScore)}}</td>
                            </tr>
                            <tr>
                                <td>Global Understanding</td>
                                <td>{{roundMe(globalUnderstandScore)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2 style="text-align: center;">Totals</h2>
                    <table id="total" class="display col-centered">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total T Top Score</td>
                                <td>{{roundMe(fulltTop)}}</td>
                            </tr>
                            <tr>
                                <td>Total T Stem Score </td>
                                <td>{{roundMe(fulltStem)}}</td>
                            </tr>
                            <tr>
                                <td>Full T Score</td>
                                <td>{{roundMe(fulltScore)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 ">
                    <h2 style="text-align: center;">Top Components</h2>
                    <table id="tTop" class="display col-centered">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Project Management</td>
                                <td>{{roundMe(managementScore)}}</td>
                            </tr>
                            <tr>
                                <td>Organizational Design</td>
                                <td>{{roundMe(designScore)}}</td>
                            </tr>
                            <tr>
                                <td>Communications</td>
                                <td>{{roundMe(communicationScore)}}</td>
                            </tr>
                            <tr>
                                <td>Critical Thinking</td>
                                <td>{{roundMe(criticalScore)}}</td>
                            </tr>
                            <tr>
                                <td>Teamwork</td>
                                <td>{{roundMe(teamworkScore)}}</td>
                            </tr>
                            <tr>
                                <td>Networking</td>
                                <td>{{roundMe(networkingScore)}}</td>
                            </tr>
                            <tr>
                                <td>Empathy</td>
                                <td>{{roundMe(empathyScore)}}</td>
                            </tr>
                            <tr>
                                <td>Perspective</td>
                                <td>{{roundMe(perspectiveScore)}}</td>
                            </tr>
                            <tr>
                                <td>Global Understanding</td>
                                <td>{{roundMe(globalUnderstandScore)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
        </section>
    </div>
</body>

</html>