<section>
    <nav1>
        <ol class="cd-multi-steps text-bottom count" id="status-buttons">
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.login">Login</a></li>
            <li class="current"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
            <li class="not"><a href="#0">T-Score</a></li>
        </ol>
    </nav1>
</section>

<div id="headingmain">
    <h1 id="heading_login">Education</h1>
    <div id="inside">
        <p>
            Record any and all education history (beginning with High school).
        </p>
        <p>
            Use degree program status to count each earned degree, including additional fields of study.
        </p>
        <!--<button ng-click="showTheForm = !showTheForm;" class="btn btn-default">-->
        <!--<span class="glyphicon glyphicon-plus"></span> Add New-->
        <!--</button>-->
    </div>

    <div ng-app="FormlyApp" id="smallcon1" class="container">

        <div class="row">
            <div class="col-md-12 skill" >

                <form ng-submit="addNewEdu()">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" ng-model="selectedAll" ng-click="checkAllEdu()" />
                            </th>
                            <th ng-click="orderByField='school'; reverseSort = !reverseSort">
                                School/University Name
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'school'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>

                            </th>
                            <th ng-click="orderByField='mfos'; reverseSort = !reverseSort">
                                Major field of study
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'mfos'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                            <th ng-click="orderByField='degree'; reverseSort = !reverseSort">
                                Type of degree program
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'degree'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                            <th ng-click="orderByField='start'; reverseSort = !reverseSort">
                                Start Year
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'start'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                            <th ng-click="orderByField='end'; reverseSort = !reverseSort">
                                Year Completed
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'end'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                            <th ng-click="orderByField='status'; reverseSort = !reverseSort">
                                Degree Program Status
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'status'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                            <th ng-click="orderByField='honors'; reverseSort = !reverseSort">
                                Honors
                                <span class="glyphicon glyphicon-sort"></span>
                                <span ng-show="orderByField == 'honors'"></span>
                                <span ng-show="!reverseSort"></span>
                                <span ng-show="reverseSort"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="eduDetail in eduDetails|orderBy:orderByField:reverseSort">
                            <td>
                            <input type="checkbox" ng-model="eduDetail.selected"/>
                            </td>
                            <td>
                                <input id="school" type="text" ng-model="eduDetail.school" required/>
                            </td>
                            <td>
                                <input id="mfos" type="text" ng-model="eduDetail.field" required/>
                            <td>
                            <select id="degree" ng-model="eduDetail.degree" required>
                                <option value="high">High School diploma</option>
                                <option value="cert">Certificate</option>
                                <option value="bs">BS</option>
                                <option value="ba">BA</option>
                                <option value="ms">MS</option>
                                <option value="ma">MA</option>
                                <option value="phd">ph.D</option>
                                <option value="mba">MBA</option>
                                <option value="md">MD</option>
                                <option value="lld">LLD</option>
                            </select>
                            </td>
                            <td>
                                <!--<select id="start" ng-model="eduDetail.start" required></select>-->
                                <select id="start" ng-options="year for year in years" ng-model="eduDetail.start" required></select>
                            </td>
                            <td>
                                <!--<select id="end" ng-model="eduDetail.end" required></select>-->
                                <select id="end" ng-options="year for year in years" ng-model="eduDetail.end" ng-blur="validate()" required></select>
                            </td>
                            <td>
                                <select id="status" ng-model="eduDetail.status" required>
                                <option value="" selected>select your degree status</option>
                                <option value="inprogress">In progress</option>
                                <option value="degreeawarded">Degree Awarded</option>
                                <option value="additional">Degree - Add'l field of Study</option>
                                </select>
                            </td>
                            <td>
                                    <!--<input id="honors" ng-model="eduDetail.honor" type="checkbox" name="valedictorian" value="valedictorian">Valedictorian<br>-->
                                    <!--<input id="honors1" ng-model="eduDetail.honor1" type="checkbox" name="cum" value="cum">Cum Laude<br>-->
                                    <!--<input id="honors2" ng-model="eduDetail.honor2" type="checkbox" name="magna" value="magna">Magna Cum Laude<br>-->
                                    <!--<input id="honors3" ng-model="eduDetail.honor3" type="checkbox" name="summa" value="summa">Summa Cum Laude<br>-->
                                    <!--<input id="honors4" ng-model="eduDetail.honor4" type="checkbox" name="none" value="none">None<br>-->
                                <select id="honors" ng-model="eduDetail.honor">
                                    <!--<option value="none"></option>-->
                                    <option value="" selected>None</option>
                                    <option value="valedictorian">Valedictorian</option>
                                    <option value="cum">Cum Laude</option>
                                    <option value="magna">Magna Cum Laude</option>
                                    <option value="summa">Summa Cum Laude</option>
                                </select>
                            </td>
                        </tr>

                        </tbody>

                    </table>

                    <div class="form-group">
                        <input ng-hide="!eduDetails.length" type="button" class=".btn-md btn-danger pull-right" ng-click="removeEdu()" value="Remove">
                        <input type="submit" class=".btn-md btn-success addnew pull-right" value="Save">
                        <input type="submit" class=".btn-md btn-primary addnew pull-right" value="Add New">
                    </div>
                </form>

            </div>
        </div>

        <!--<button ng-disabled="myForm.$invalid"  type="submit" value="submit" class="btn btn-default">Submit</button>-->
        <!--{{eduDetails}}-->

    </div>
    <!--<a href="work.html"><input type="submit" class="btn btn-success addnew pull-right pull-button" value="Next"></a>-->
    <a ui-sref="base.work" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>

    <!--<pre>-->
        <!--{{ eduDetails }}-->
    <!--</pre>-->
</div>



