<section>
    <nav1>
        <ol class="cd-multi-steps text-bottom count" id="status-buttons">
            <!--<li class="current"><a href="#0" ui-sref-active="active" ui-sref="base.login">Sign-in</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
            <li class="not"><a href="#0">T-Score</a></li>-->
        </ol>
    </nav1>
</section>

<div id="headingmain1" col-md-10 col-md-offset-1">
    <h1 id="heading_login">Sign-in</h1>

        <!--<p>-->
            <!--Use degree program status to count each earned degree, including additional fields of study.-->
        <!--</p>-->
        <!--<button ng-click="showTheForm = !showTheForm;" class="btn btn-default">-->
            <!--<span class="glyphicon glyphicon-plus"></span> Add New-->
        <!--</button>-->


    <div ng-app="FormlyApp" id="smallcon2" class="container col-md-10 col-md-offset-1">
        <form ng-submit="addNew();" name="myForm"  novalidate>

            <!--<div class="form-group">
                <label for="username">E-Mail</label>
                <input type="email" class="form-control-login" id="username" placeholder="E-Mail" ng-model="login.user" ng-blur="checkEmail()"
                        required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control-login" id="password" placeholder="Password" ng-model="login.password"
                       required/>
            </div>

           <!--<button type="submit" value="submit" class="btn btn-default">Login</button>
            <a ui-sref="base.educate" class="btn btn-block btn-info">
                Login <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </form>

    </div>
</div>-->

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Sign In</legend>
        </div>
        <div class="form-group">
            <label for="username">E-Mail</label>
            <input type="email" class="form-control-login" id="username" placeholder="E-Mail" ng-model="login.user" ng-blur="checkEmail()"
                   required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control-login" id="password" placeholder="Password" ng-model="login.password"
                   required/>
        </div>

        <div class="control-group">
            <!-- Button -->
            <!--<div class="controls">
                <button class="btn btn-success">Register</button>
            </div>-->
            <a ui-sref="base.educate" class="btn btn-success">
                Login <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;
            <a ui-sref="base.registration" class="btn btn-info">
                Register <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>

        </div>


        <div class="control-group">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a ui-sref="base.login" class="btn btn-warning">
                Forgot Password <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>

   </fieldset>
</form>