<div class="control-group" xmlns="http://www.w3.org/1999/html">
    <span style="padding-left:73em"><a id="logout" href="#" class="btn btn-danger" ng-click = "Logout()">Logout</a></span>
</div>
<section ng-init = "skillsInit()">
    <nav1>
        <ol class="cd-multi-steps text-bottom count" id="status-buttons">
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.educate">Education</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.work">Work</a></li>
            <li class="visited"><a href="#0" ui-sref-active="active" ui-sref="base.deeds">Deeds</a></li>
            <li class="current"><a href="#0" ui-sref-active="active" ui-sref="base.skills">Skills</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.tools">Tools</a></li>
            <li class="not"><a href="#0" ui-sref-active="active" ui-sref="base.chart">T-Score</a></li>
        </ol>
    </nav1>
</section>


<!--<div id="headingmain" class="container">-->
<h1 id="heading_login">Skills</h1>
<!--<div id="inside">
    <!--<p>
        Record your current proficiencies for Software Use, Software Programming and Device Operation. Current Proficiencies are self-rated from Basic to Expert.
    </p>
    <p><strong class="expert">Expert</strong> - I am able to handle independently all types of assignments or tasks and serve as a mentor/instructor (>90% Proficiency)</p>
    <p><strong class="advanced">Advanced</strong> - I am able to handle independently nearly all types of assignments or tasks (>75% Proficiency)</p>
    <p><strong class="intermediate">Intermediate</strong> - I am able to handle independently many types of assignments or tasks (>50% Proficiency)</p>
    <p><strong class="basic">Basic</strong> - I can perform simple assignments or tasks (>25% Proficiency)</p>-->

    <!--<button ng-click="showTheForm = !showTheForm;" class="btn btn-default">-->
        <!--<span class="glyphicon glyphicon-plus"></span> Add New-->
    <!--</button>
</div>-->

<div ng-app="FormlyApp" id="smallcon1" class="container customContainer col-md-10 col-md-offset-1">

        <div class="row">
            <div class="col-md-12 skill" >

                        <form ng-submit="addNewSkill()">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAllSkills()" /></th>
                                    <th>Category</th>
                                    <th>Software/Device Name</th>
                                    <th>Vendor/Distributor</th>
                                    <th style="width: 30px;">Number of LinkedIn Endorsements for this Skill</th>
                                    <!--<th data-toggle="tooltip" title="Hooray!">Proficiency</th>-->
                                        

                                <th style ="width: 60px">Your Current Level of Proficiency and Year Attained<br>
                                <div>
                            <table width=100% height= "100%" bottom= "0">
                                <tr style= "display:block margin:5px 0">
                                <th  width=25% height: 100%><pre><span style="line-height:80% font-size:10px">I have acheived >25% Proficiency </span><br><br>Basic</pre></th>
                                <th  width=25% height: 100%><pre><span style="line-height:0 font-size:10px">I have acheived >50% Proficiency </span><br><br>Inter</pre></th>
                                <th  width=25% height: 100%><pre><span style="line-height:0 font-size:10px">I have acheived >75% Proficiency </span><br><br>Advanced </pre></th>
                                <th  width=25% height: 100%><pre><span style="line-height:0 font-size:10px">I have acheived >95% Proficiency </span><br><br>Expert</pre></th>
                                </tr>
                            </table>
                            <!--<div>Basic&emsp;&emsp;&emsp;&emsp;Intermediate&emsp;&emsp;Advanced&emsp;&emsp;&emsp;Expert</div>-->  
                                </div>
                                </th>

                                    <!--<th style="width: 30px;" ng-click="orderByField='proficiency'; reverseSortSkills = !reverseSortSkills">Year of acheived Proficiency
                                        <span class="glyphicon glyphicon-sort"></span>
                                        <span ng-show="orderByField == 'start'"></span>
                                        <span ng-show="!reverseSort"></span>
                                        <span ng-show="reverseSort"></span>
                                    </th>-->
                                    <th style= "width: 20px;">Formal Certification</th>
                                    <th style="width: 30px;">I have used the Software/Device in a project or position in the past 3 years </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="personalDetail in personalDetailsSkills|orderBy:orderByField:reverseSortSkills">
                                    <!--<td>-->
                                        <!--<input type="checkbox" ng-model="personalDetail.selected"/></td>-->
                                    <td>
                                        <input type="checkbox" ng-model="personalDetail.selected"/>
                                    </td>
                                    <td style="width: 30px;">
                                        <select ng-model="personalDetail.category" required>
                                            <option value="Professional Methods / Skills">Professional Methods/Skills</option>
                                            <option value="Personal Enrichment Skills">Personal Enrichment Skills</option>
                                        </select>
                                    </td>
                                    <td style="width: 30px;">
                                        <input type="text" ng-model="personalDetail.software" required/>
                                    <td style="width: 30px;">
                                         <input class="skill1" type="text" ng-model="personalDetail.vendor" required/>
                                    </td>
                                    <td style="width: 30px;">
                                        <input class="skill2" type="number" min="0" max="30" step="1" placeholder="0" value ="0" ng-model="personalDetail.linkedin" required/>
                                    </td>
                                    <td>
                                        <!--<input type="radio" name="tick1_{{$index}}" id="expert" value="expert" ng-model="personalDetail.skill">&nbsp;<label class="labell expert skillset" for="expert">Expert</label>
                                        <input type="radio" name="tick1_{{$index}}" id="advanced" value="advanced" ng-model="personalDetail.skill">&nbsp;<label class="labell advanced skillset" for="advanced">Advanced</label>
                                        <input type="radio" name="tick1_{{$index}}" id="intermediate" value="intermediate" ng-model="personalDetail.skill">&nbsp;<label class="labell intermediate skillset" for="intermediate">Intermediate</label>
                                        <input type="radio" name="tick1_{{$index}}" id="basic" value="basic" ng-model="personalDetail.skill">&nbsp;<label class="labell basic" for="basic">Basic</label>-->
                                        <!--<select id="year" ng-options="year for year in years" ng-model="personalDetail.year" required></select>&emsp;&emsp;
                                        <select id="year" ng-options="year for year in years" ng-model="personalDetail.year" required></select>&emsp;&emsp;
                                        <select id="year" ng-options="year for year in years" ng-model="personalDetail.year" required></select>&emsp;&emsp;
                                        <select id="year" ng-options="year for year in years" ng-model="personalDetail.year" required></select>&emsp;&emsp;-->
                                        <table width="100%">
                                            <tr>
                                            <td width= "25%" ><select border:"1" ng-style = "{'background-color': dropDownColorSetter(personalDetail.basicyear, 'basic')}" ng-change ="skillsClearDropDowns(personalDetail.basicyear, $index);" width="100%" id="basicyear" ng-options="year for year in years" ng-model="personalDetail.basicyear" ></select></td>
                                            <td width= "25%" ><select border:"1" ng-style = "{'background-color': dropDownColorSetter(personalDetail.interyear, 'inter')}" ng-change ="skillsClearDropDowns(personalDetail.interyear, $index);" width="100%" id="interyear" ng-options="year for year in years" ng-model="personalDetail.interyear" ></select></td>
                                            <td width= "25%" ><select border:"1" ng-style = "{'background-color': dropDownColorSetter(personalDetail.advancedyear, 'advanced')}" ng-change ="skillsClearDropDowns(personalDetail.advancedyear, $index);" width="100%" id="advancedyear" ng-options="year for year in years" ng-model="personalDetail.advancedyear" ></select></td>
                                            <td width= "25%" ><select border:"1" ng-style = "{'background-color': dropDownColorSetter(personalDetail.expertyear, 'expert')}" ng-change ="skillsClearDropDowns(personalDetail.expertyear, $index);" width="100%" id="expertyear" ng-options="year for year in years" ng-model="personalDetail.expertyear" ></select></td>
                                            </tr>
                                       </table>

                                       <!--
                                       
                                       -->
                                    
                                    </td>
                                    <td style="width: 30px; margin-left:14px;">
                                    <div ng-init = "personalDetail.formal = 'No'">

                                        <input type="radio" name="tick3_{{$index}}" value="Yes" ng-model="personalDetail.formal" > Yes</input>
                                        <input type="radio" name="tick3_{{$index}}" value="No" ng-model="personalDetail.formal"> No</input><br>
                                    </div>
                                    </td>
                                    <!--<td style="padding-left: 4px;">
                                        <input type="radio" name="tick2_{{$index}}" value="Yes" ng-model="personalDetail.formal"> Yes &nbsp;
                                        <input type="radio" name="tick2_{{$index}}" value="No" ng-model="personalDetail.formal"> No<br>
                                    </td>-->
                                    <td style="width: auto; margin-left:14px;">
                                    <div style="width:250px; margin-left:14px" ng-init = "personalDetail.usage = 'No'">                        
                                            <input type="radio" name="tick4_{{$index}}" value="Often" ng-model="personalDetail.usage"> Often
                                            <input type="radio" name="tick4_{{$index}}" value="No" ng-model="personalDetail.usage"> No
                                            <input type="radio" name="tick4_{{$index}}" value="Rarely" ng-model="personalDetail.usage"> Rarely
                                            <input type="radio" name="tick4_{{$index}}" value="Sometimes" ng-model="personalDetail.usage"> Sometimes
                                            <br>    
                                    </td>
                                    </div>
                                    <!--<td>-->
                                        <!--<input type="radio" name="tick2_{{$index}}" value="Yes" style="margin-left: 41px;" ng-model="personalDetail.usage"> Yes-->
                                        <!--<input type="radio" name="tick2_{{$index}}" value="No" ng-model="personalDetail.usage"> No<br>-->
                                    <!--style="border-style:solid;"-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input ng-hide="!personalDetailsSkills.length" type="button" class=".btn-md btn-danger pull-right" ng-click="removeSkills()" value="Remove">
                                <input type="submit" class=".btn-md btn-success addnew pull-right" value="Save">
                                <input type="submit" class=".btn-md btn-primary addnew pull-right" value="Add New">
                            </div>
                        </form>

            </div>
        </div>
        <!--<input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">-->
        <!--<button ng-disabled="myForm.$invalid"  type="submit" value="submit" class="btn btn-default">Submit</button>-->
    <!--{{personalDetails}}-->

</div>
<!--<a href="tools.html"><input type="submit" class="btn btn-success addnew pull-right pull-button" value="Next"></a>-->
<a ui-sref="base.tools" class="btn btn-block btn-info ng-scope" id="work-next">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
